$black: #000000;
$color-primary: #ffffff;
$color-secondary: #ffcc48;
$text-primary: #040506;
$text-secondary: #ffffff;

$font-family: Poppins;
$font-style-normal: normal;

$font-bold: 600;
$font-medium: 500;
$font-regular: 400;

$font-xs: 15px;
$font-s: 18px;
$font-m: 28px;
$font-l: 48px;
$font-xl: 65px;

$char-spacing: 0px;

$line-spacing-s: 28px;
$line-spacing-m: 38px;
$line-spacing-l: 72px;
$line-spacing-xl: 75px;
