@import 'variables/variables.scss';

.heroWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    object-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
}
.hero__textWrapper {
    align-self: flex-end;
    margin-bottom: 3rem;
    h1,
    h2 {
        color: white;
    }
}
.callToActionWrapper {
    display: flex;
    padding: 42px 175px 0px 175px;
}
.sliderContainer {
    height: 100px;
}
.contactForm {
    background-color: white;
}
