@import 'variables/variables.scss';
.wrapper {
    margin: 140px 0px 0 0px;
    position: relative;
}
.title {
    position: absolute;
    top: -100px;
    right: 50px;
    font-weight: $font-bold;
    font-size: $font-l;

    &:before {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: $black;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__imageWrapper {
        overflow: hidden;
    }
}
